# Python introduction

**origin of python -**
    
    created by Guido van Rossum in 1991, Named after Monty Python's Flying Circus, a TV show.

Everyday we Interact with Python for applications like : Instagram, Facebook, Google, and Spotify.

Python is widely used in machine learning, including frameworks like TensorFlow


**Why learn Python ?**


*   Easy to learn and beginner-friendly.
*   Simple syntax and an abundance of libraries.
*   Facilitates rapid development and feature building.
*   Widely used and supported by a large engineering community.


**Python Syntax, Whitespace, and Indentation -**

will see print statements.
*   A simple print() statement generates text in the terminal.
*   Avoid placing multiple statements on the same line without proper separation

In [ ]:
print("Hello"); print("World")

Hello
World



*   **Whitespace**: While excessive whitespace is ignored within a single line, multiline expressions
require continuation indicators.

In [ ]:
x = 1 + 2 \
+ 3
print(x) # Output: 6

6



*   **Indentation**: Proper indentation is mandatory in Python to define code blocks. Errors like
IndentationError help identify where the issue is.

In [ ]:
name = "John"
if name == "John":
    print(name) # Correctly indented; Output: John

John

# Understanding Variables in Python

Variables are essential for storing and manipulating data in a program.
They act as references to values that can change throughout the program's lifecycle.

A variable is declared by assigning it a value using the = operator.

Example:
x = 10

**Rules for Defining a Variable in Python**


1.   Variable Names Must Start with a Letter or an Underscore ( _ ), It cannot begin with a number or special character.

 Examples:

 my_variable = 10 # Valid
    
 1variable = 30 # Invalid
2.   Variable Names Can Contain alphanumeric characters (a-z, A-Z, 0-9) and underscores ( _ ), Also Variable Names Are Case-Sensitive.

    Examples:

  print(myVariable) = 10 # output = 10

     print(MyVariable) = 20 # output = 20



3. Python has reserved keywords (e.g., if , else , for , while , True , False ) that cannot be used
as variable names.  
4.   No Spaces Are Allowed in Variable Names
Use underscores ( _ ) to separate words instead of spaces.

5.   Avoid Starting with Double Underscores ( __ )
Names starting with double underscores are reserved for special purposes in Python (e.g.,
__init__ , __name__ )
2.   No Spaces Are Allowed in Variable Names
Use underscores ( _ ) to separate words instead of spaces.

**Best Practices for Defining Variables -**
1. Use snake_case or camelCase consistently.
2. Make names self-explanatory to improve readability.
3. Use lowercase letters unless you're following a specific naming convention.
4. Avoid using single-character names except for temporary or loop variables like i , j.



---



*   Multiple Assignments

    *   Assign the same value to multiple variables.
    *   Assign different values to multiple variable.

In [ ]:
#Assign the same value to multiple variables.
a = b = c = 10
print(a, b, c) # Output: 10 10 10
#Assign different values to multiple variables
a, b, c = 1, 2, 3
print(a, b, c) # Output: 1 2 3

10 10 10
1 2 3



*   Reassigning Variables, Variables can be reassigned new values at any time

In [ ]:
a = 10
print(a) # Output: 10
a = 5
print(a) # Output: 5

10
5



*   For deleting Variables We use the del keyword to delete a variable.

In [ ]:
a = 10
print(a) # Output: 10
del a

10

# Data Types in Python

A data type is an attribute of data that determines how it is stored and interpreted by a
computer system.

**Types of Data in Python -**
1. Numeric Data Types
Numeric data types store numbers and are divided into:

   Integer ( int ): Represents whole numbers (e.g., 10 , -5 ).

   Float ( float ): Represents numbers with decimal points (e.g., 10.5 , -2.3 ).

   Complex ( complex ): Represents numbers with both real and imaginary parts (e.g., 10 + 5j )


2. Sequence Data Types

     Sequence types store ordered collections of items:
  
     String ( str ): Sequence of characters enclosed in single or double quotes (e.g., "Hello" or 'World').

     List ( list ): Mutable sequences of items, defined using square brackets (e.g., [1, 2, 3] ).

     Tuple ( tuple ): Immutable sequences of items, defined using parentheses (e.g., (1, 2, 3) ).


3. Dictionary Data Type

   Dictionary ( dict ): Stores data in key-value pairs, enclosed in curly braces (e.g., {"a": 1, "b":
2} ).

    * Keys must be unique and immutable (e.g., strings or integers).

    * Values can be any data type.


4. Boolean Data Type

    Boolean ( bool ): Represents True or False values, often used for logical operations and
conditions.


5. Set Data Type

     Set ( set ): Unordered, non-indexed collections of unique items, defined using curly braces (e.g.,{1, 2, 3} ).


---


*   Python provides the type() function to check the data type of a variable.

In [ ]:
a = 10 # Integer
b = 2.5 # Float
c = "Python" # String
d = [1, 2, 3] # List
print(type(a)) # Output: <class 'int'>
print(type(b)) # Output: <class 'float'>
print(type(c)) # Output: <class 'str'>
print(type(d)) # Output: <class 'list'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>

# Key Points on Strings in Python

A string in Python is a sequence of characters enclosed in either single ( ' ) or double ( " )
quotes. These Strings are encoded using Unicode, allowing computers to interpret characters as binary code.



*   string are declared in single line or multi line, for multi line strings Use triple quotes ( ''' or """ ) or backslashes ( \ ) to continue a string on
the next line.
     
     single_quote_str = 'Hello'
     
     double_quote_str = "World"

     multi_line_str = '''This is a
multi-line string.'''

     backslash_str = "This is a multi-\\
     
      line string example."




*   **String operations.**
   * Strings can be reassigned to new values.

     name = "John"

     name = "Paul"
     
     print(name) # Output: Paul   
   
   *   Concatenation We use the + operator to join the strings.

In [ ]:
a = "Hello, "
b = "World!"
print(a + b) # Output: Hello, World!

Hello, World!


  * Strings are zero-indexed, meaning the first character has an index of 0. We can use len() function to determine the length of a string.

In [ ]:
word = "Python"
print(word[0]) # Output: P
print(word[5]) # Output: n
print(len(word))

P
n
6

# Typecasting in Python

Typecasting is the process of converting a variable's data type into another data type.
This is useful in situations where you need to manipulate data in a format different from how it
was originally stored or collected.

**Types of Typecasting**


*   Implicit Typecasting

     Python automatically converts one data type to another to prevent data loss or errors during
operations.
This happens only when data types are compatible

In [ ]:
# Implicit conversion from int to float
num_int = 5
num_float = num_int + 2.5
print(num_float) # Output: 7.5
print(type(num_float)) # Output: <class 'float'>

7.5
<class 'float'>


*   Explicit Typecasting

     Developers manually convert a variable to another data type using Python’s built-in functions.
This is useful when Python does not automatically handle the conversion (e.g., string to int).

    1.   str() : Converts given data to a string.
    2.    int() : Converts data to an integer (if possible)

    1.   float() : Converts data to a float (if possible)


*  Python will raise a TypeError if the conversion isn’t possible.

* Converting float to int truncates the decimal.
     
     float_value = 4.99
     
     int_value = int(float_value)
     
     print(int_value) # Output: 4

In [ ]:
value = 123
string_value = str(value)
print(string_value) # Output: "123"
print(type(string_value)) # Output: <class 'str'>

value = "42"
int_value = int(value)
print(int_value) # Output: 42
print(type(int_value)) # Output: <class 'int'>

value = "3.14"
float_value = float(value)
print(float_value) # Output: 3.14
print(type(float_value)) # Output: <class 'float'>

123
<class 'str'>
42
<class 'int'>
3.14
<class 'float'>

Other Typecasting Functions

*  ord() : Converts a character to its Unicode integer value.

     print(ord('A')) # Output: 65


* hex() : Converts an integer to a hexadecimal string.

     print(hex(255)) # Output: '0xff'


* oct() : Converts an integer to an octal string.

     print(oct(8)) # Output: '0o10'


* list() : Converts a sequence to a list.
     
     value = "abc"

     print(list(value)) # Output: ['a', 'b', 'c']


* tuple() : Converts a sequence to a tuple.
     
     value = [1, 2, 3]

     print(tuple(value)) # Output: (1, 2, 3)


* set() : Converts a sequence to a set.
     
     value = [1, 2, 2, 3]
     
     print(set(value)) # Output: {1, 2, 3}


* dict() : Converts key-value pairs into a dictionary.
     
     pairs = [('a', 1), ('b', 2)]
     
     print(dict(pairs)) # Output: {'a': 1, 'b': 2}

# Inputs and Outputs in Python

Python makes it simple to interact with users or external services using:

* input() : Collects user input or data from other sources.

* print() : Outputs information to the screen or a file.



**The input() Function**

The input() function is used to collect data from the user through the keyboard or console.
The data entered is always returned as a string.    
 * Since input() returns data as a string, you often need to convert it into another data type for
calculations or logical operations.

* You can also display a message or a question inside the input() function to guide the user.

In [ ]:
age = input("How old are you? ")
print("You are " + age + " years old.")

num = int(input("Enter the any number: "))
print(num)

price = float(input("Enter the price of the item: "))
print("The price with tax is:", price * 1.08)

How old are you? 18
You are 18 years old.
Enter the any number: 9
9
Enter the price of the item: 10
The price with tax is: 10.8

* **The print() Function**

     The print() function is used to display output in Python.

    *   Printing multiple objects.
        
        Use commas to separate objects, and Python will print them with spaces by default.The sep parameter defines the separator between printed
        objects.
        
    
    print("apple", "banana", "cherry", sep=", ")
    Output: apple, banana, cherry
  The end parameter defines what is printed at the end of the output (default is a newline \n).

     print("Hello", end=" ")

     print("World!")

     Output: Hello World!
    
*   String Concatenation with print()

     Use + to join strings:


     first_name = "Tom"

     last_name = "Jones"

     print("Hello, " + first_name + " " + last_name)

     Output: Hello, Tom Jones
  *  String Formatting

      1.Using format()
  
     2.Using f-strings (Python 3.6+)

In [ ]:
#Using format()
name = "Alice"
age = 30
print("Hello, {}. You are {} years old.".format(name, age))

#Using f-strings
name = "Alice"
age = 30
print(f"Hello, {name}. You are {age} years old.")

Hello, Alice. You are 30 years old.
Hello, Alice. You are 30 years old.

# Math and Logical Operators in Python

In Python, operators are symbols that direct the program to perform specific operations. Similar to
how road signs guide drivers, operators help Python execute mathematical calculations, logical
decisions, and comparisons.

**Math Operators**

Math operators in Python are similar to functions in a calculator. They allow for performing basic
arithmetic operations:

1. Addition ( + )
Combines two numbers.

     Example: 2 + 3 results in 5 .

2. Subtraction ( - )
Subtracts one number from another.

     Example: 3 - 2 results in 1 .

3. Division ( / )
Divides one number by another.

     Example: 35 / 5 results in 7.0 (returns a float).

4. Multiplication ( * )
Multiplies two numbers.

     Example: 7 * 4 results in 28 .

In [ ]:
print(2 + 2) # Output: 4
print(3 - 2) # Output: 1
print(35 / 5) # Output: 7.0 (float)
print(7 * 4) # Output: 28

4
1
7.0
28

**Logical Operators**

Logical operators evaluate conditions and return a Boolean value: True or False . They are often
used in conditional statements to control the program's flow.
1. AND ( and ) -  Returns True only if both conditions are true.
2. OR ( or ) - Returns True if at least one condition is true.
3. NOT ( not ) - Reverses the logical state of its operand.

In [ ]:
# AND Operator
a = True
b = True
if a and b:
   print("Both are true")

# OR Operator
a = True
b = False
if a or b:
   print("At least one is true")

# NOT Operator
a = False
if not a:
   print("not false")

Both are true
At least one is true
not false

# Control Flow in Python.

It refers to the order in which a program’s instructions are executed.
Enables decision-making, leading to different program actions or directions.

In Python, control flow is managed through:

     Conditional Statements: if , else , elif .
     Loops: for and while .

**Conditional Statements Overview**

1. if Statement:
Executes a block of code if the condition is true.


    Example:
    if bill_total > 100:
    print("Bill is greater than 100")
2. else Statement:
Executes when the preceding if condition is false.


    Example:
    else:
    print("Bill is less than or equal to 100")
3. elif Statement:
Short for "else if".
Checks another condition if the preceding if or elif conditions are false.



    Example:
    elif bill_total > 200:
    print("Bill is greater than 200")

In [ ]:
letter = "A"
if letter == "B":
    print("letter is B")
elif letter == "C":
    print("letter is C")
elif letter == "A":
    print("letter is A")
else:
    print("letter isn't A, B or C")

letter is A

* Conditions are evaluated in the sequence they appear.
Only the first true condition executes, skipping others.

* else Acts as a Catch-All:
Executes only if none of the preceding if or elif conditions are true.


* Loops in Python (Brief Introduction ahead)
    1. for Loop:
Repeats code for a known number of iterations.
    2. while Loop:
Repeats code while a condition is true.  

**What is a match Statement?**

   * Introduced in Python 3.10, it serves as a cleaner alternative to multiple if-elif-else statements.

   * Cleaner and more compact for handling many conditions.
Each case evaluates a condition and executes code if matched.

   * Compare a variable to several values (conditions) in a concise, readable way.
Simplify complex conditional logic that would otherwise be messy with if statements.

Basic Syntax


    match variable_name:
    case value1:
    # Action for value1
    case value2:
    # Action for value2
    case _:
    # Default action if no match

*  Advantages of match Statements

    * Readability: Cleaner, especially with many conditions.
    
    * Efficiency: Avoids repetitive comparisons against the variable.
    
    * Compactness: Combines multiple values with | in a single case.


Conclusion

The match statement simplifies the process of testing a variable against many conditions. It is a
powerful tool to improve code clarity and maintainability in Python.

In [ ]:
http_status = 200  # Assign a value to http_status for the match statement to work

match http_status:
    case 200:
        print("Success")
    case 400:
        print("Bad Request")
    case 500 | 501:  # Equivalent to `or`
        print("Server Error")
    case _:
        print("Unknown")  # Default case

Success

# Looping Constructs in Python

Looping refers to executing the same set of steps repeatedly.
Python offers two main looping constructs:

* For loop: Used to iterate over a sequence (e.g., strings, arrays).
* While loop: Executes as long as a specified condition is true.

1. The For Loop

Basic Syntax:

    for variable in sequence:
    # Code to execute
Example:

* Iterating Over a String

Strings in Python are sequences, so you can loop through each character:

    my_string = "looping"
    for char in my_string:
    print(char)

 * Iterating Over a Range:
Use the range() function to specify a sequence of numbers:


    for i in range(10):
    print(f"Iteration {i}")Iterating Over an Array:

 * Example with an array of desserts:


    favorites = ["Cake", "Ice Cream", "Pie", "Brownie", "Pudding"]
    for item in favorites:
    print(f"I like this dessert: {item}")

2. The While Loop

Basic Syntax:


    while condition:
    # Code to execute

Example:

 * Iterating Over an Array with a Counter
, A while loop requires an explicit counter:


    favorites = ["Cake", "Ice Cream", "Pie", "Brownie", "Pudding"]
    count = 0
    while count < len(favorites):
    print(f"I like this dessert: {favorites[count]}")
    count += 1    
If you forget to increment the counter, the loop will run indefinitely.
Always ensure the loop condition eventually becomes false.

3. Accessing Index in a For Loop

    Using enumerate() :
    To access both the index and value in a for loop:
    
    
    favorites = ["Cake", "Ice Cream", "Pie", "Brownie", "Pudding"]
    for idx, item in enumerate(favorites):
    print(f"{idx}: {item}")
    Output:
    0: Cake
    1: Ice Cream
    ...

In [ ]:
#for loop
print("\nDictionary Iteration")
d = dict({'x':123, 'y':354})
for i in d:
    print("%s  %d" % (i, d[i]))

#while loop
count = 0
while (count < 3):
    count = count + 1
    print("Hello")

#using enumerate()
favorites = ["Cake", "Ice Cream", "Pie", "Brownie", "Pudding"]
for idx, item in enumerate(favorites):
    print(f"{idx}: {item}")

Dictionary Iteration
x  123
y  354
Hello
Hello
Hello
0: Cake
1: Ice Cream
2: Pie
3: Brownie
4: Pudding